/*Workshosp Page*/

.workshop{
    background-color: #FC7676;
}

.ds1{
    position: relative;
    font-size: 20px;
    font-family: "Copperplate",serif;
    background-color: #E0115F;
}

.ws_h1{
    margin-left: 50px;
    font-size: 40px;
    color: white;
    font-family: "Lucida Console", serif;
}

.ws_d1{
    font-style: italic;
    margin-left: 90px;
    margin-top: 50px;
    font-size: 25px;
    align-content:baseline;
}

.wsi1{
    position: absolute;
    height: 400px;
    width: 300px;
    margin-left:900px;
    margin-top: -290px;
    box-shadow: 20px 40px 30px white; 
}

.wsi2{
    position: absolute;
    margin-top: 70px;
    height: 400px;
    width: 600px;
}

.ws_h2{
    font-size: 35px;
    position: absolute;
    margin-left: 460px;
    margin-top: 160px;
}

.ws_s{
    font-size: 23px;
    margin-left: 500px;
    margin-top: 260px;
}

.wsi3{
    position: absolute;
    margin-top:100px;
    height: 200px;
    width: 350px;
    box-shadow: 20px 40px 30px white;
}

.wsi4{
    position: absolute;
    margin-left: 980px;
    margin-top:100px;
    height: 200px;
    width: 350px;
    box-shadow: -20px 40px 30px white;
}

.wsi5{
    position: absolute;
    margin-left: 500px;
    margin-top:130px;
    height: 430px;
    width: 330px;
    box-shadow: -20px -40px 90px black;
}

.wsi6{
    position: absolute;
    margin-left: 80px;
    margin-top:460px;
    height: 260px;
    width: 210px;
    box-shadow: 20px 40px 30px white;
}

.wsi7{
    position: absolute;
    margin-left: 1050px;
    margin-top:460px;
    height: 260px;
    width: 210px;
    box-shadow: -20px 40px 30px white;
}

.wsi8{
    position: absolute;
    margin-top:900px;
    height: 200px;
    width: 350px;
    box-shadow: 20px 40px 30px white;
}

.wsi9{
    position: absolute;
    margin-left: 500px;
    margin-top:600px;
    height: 430px;
    width: 330px;
    box-shadow: -20px 40px 90px black;
}

.wsi10{
    position: absolute;
    margin-left: 980px;
    margin-top:900px;
    height: 200px;
    width: 350px;
    box-shadow: -20px 40px 30px white;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 700px){

    .ds1{
        width: 540px;
        position: relative;
        font-size: 10px;
        font-family: "Copperplate",serif;
        background-color: #E0115F;
    }    
    
    .ws_h1{
        margin-left: 20px;
        font-size: 20px;
    }
    
    .ws_d1{
        margin-left: 35px;
        margin-top: 25px;
        font-size: 13px;
    }
    
    .wsi1{
        position: absolute;
        height: 200px;
        width: 150px;
        margin-left:350px;
        margin-top: -145px;
        box-shadow: 10px 20px 15px;
    }
    
    .wsi2{
        position: absolute;
        margin-top: 70px;
        height: 200px;
        width: 200px;
    }
    
    .ws_h2{
        font-size: 16px;
        position: absolute;
        margin-left: 210px;
        margin-top: 110px;
    }
    
    .ws_s{
        font-size: 10px;
        margin-left:230px;
        margin-top: 160px;
    }
    
    .wsi3{
        position: relative;
        margin-top:100px;
        margin-left: 100px;
        height: 200px;
        width: 350px;
        box-shadow: 20px 40px 30px;
    }
    
    .wsi4{
        position: relative;
        margin-left: 100px;
        margin-top:60px;
        height: 200px;
        width: 350px;
        box-shadow: -20px 40px 30px;
    }
    
    .wsi5{
        position: relative;
        margin-left: 100px;
        margin-top:80px;
        height: 430px;
        width: 330px;
        box-shadow: -20px -40px 90px whitesmoke;
    }
    
    .wsi6{
        position: relative;
        margin-left: 150px;
        margin-top:40px;
        height: 260px;
        width: 210px;
        box-shadow: 20px 40px 30px;
    }
    
    .wsi7{
        position: relative;
        margin-left: 150px;
        margin-top:60px;
        height: 260px;
        width: 210px;
        box-shadow: -20px 40px 30px;
    }
    
    .wsi8{
        position: relative;
        margin-left: 100px;
        margin-top:60px;
        height: 200px;
        width: 350px;
        box-shadow: 20px 40px 30px;
    }
    
    .wsi9{
        position: relative;
        margin-left: 100px;
        margin-top:60px;
        height: 430px;
        width: 330px;
        box-shadow: -20px 40px 90px whitesmoke;
    }
    
    .wsi10{
        position: relative;
        margin-left: 100px;
        margin-top:60px;
        height: 200px;
        width: 350px;
        box-shadow: -20px 40px 30px;
    }
    
    }